<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  {% block content %}
  <body>
    <form method="POST">
      {% csrf_token %}
      <input type="email" name="email" value="" id="email" />
      <input type="password" name="password" value="" id="password" />
      <input type="hidden" name="token" value="" id="token" />
      <button id="button"></button>
    </form>
  </body>
  <script>
    let button = document.getElementById("button");
    const ALLOWED_HOST = "https://whispering-dawn-70876.herokuapp.com";

    const requestPostValue = (email, password) => {
      let emailValue, passwordValue;
      emailValue = email.value;
      passwordValue = password.value;

      userInfos = {
        email: emailValue,
        password: passwordValue,
      };
      return userInfos;
    };

    function changeElementValue(el, token) {
      el.value = token;
    }

    button.addEventListener("click", function (event) {
      // get the content of thoses inputs
      let email, password;
      let userInfos, postRequest, myInit, myHeaders, body;
      email = document.getElementById("email");
      password = document.getElementById("password");
      // create the object for the user
      userInfos = requestPostValue(email, password);
      console.table(userInfos);

      myHeaders = new Headers();
      myHeaders.append("Content-Type", "application/json");
      myInit = {
        method: "POST",
        body: `${JSON.stringify(userInfos)}`,
        headers: myHeaders,
      };
      postRequest = new Request(ALLOWED_HOST + "/api/user/token/", myInit);
      console.log(myInit.body, body);
      fetch(postRequest)
        .then((response) => {
          if (response.status == 200) {
            return response.json();
          } else if (response.status == 400) {
            throw new Error("thoses credentials aren't valid!");
          } else {
            throw new Error(`Somehting wrong ${response.status}`);
          }
        })
        .then((response) => {
          console.debug(response);
        })
        .catch((error) => {
          console.log(error);
        });
    });
  </script>
  {% endblock %}
</html>
