<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  {% block content %}
  <body></body>
  <script>
    let myHeaders, postRequest, token;
    const ALLOWED_HOST = "https://whispering-dawn-70876.herokuapp.com";
    token = "{{ request.session.token }}";
    myHeaders = new Headers();
    myHeaders.append("Content-Type", "application/json");
    myHeaders.append("Authorization", `Token ${token}`);
    console.log(myHeaders);
    myInit = {
      method: "GET",
      headers: myHeaders,
    };
    getRequest = new Request(ALLOWED_HOST + "/api/user/me/", myInit);
    fetch(getRequest)
      .then((response) => {
        if (response.status == 200) {
          return response.json();
        } else {
          throw new Error(`Somehting wrong ${response.status}`);
        }
      })
      .then((response) => {
        console.table(response);
        console.debug(response);
      })
      .catch((error) => {
        console.log(error);
      });
  </script>
  {% endblock %}
</html>
