<!DOCTYPE html>
<html lang="en">
  {% block content %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <form method="POST">
      {% csrf_token %}
      <input type="email" name="email" value="" id="email" />
      <input type="password" name="password" value="" id="password" />
      <input type="text" name="name" value="" id="name" />
      <input type="button" name="enter" id="button" />
    </form>
  </body>
  <script>
    let button = document.getElementById("button");
    const ALLOWED_HOST = "https://whispering-dawn-70876.herokuapp.com";

    const requestPostValue = (email, password, name) => {
      let emailValue, passwordValue, nameValue;
      emailValue = email.value;
      passwordValue = password.value;
      nameValue = name.value;

      userInfos = {
        email: emailValue,
        password: passwordValue,
        name: nameValue,
      };
      return userInfos;
    };

    button.addEventListener("click", function (event) {
      // get the content of thoses inputs
      let email, password, name;
      let userInfos, postRequest, myInit, myHeaders, body;
      email = document.getElementById("email");
      password = document.getElementById("password");
      name = document.getElementById("name");
      // create the object for the user
      userInfos = requestPostValue(email, password, name);
      console.table(userInfos);

      myHeaders = new Headers();
      myHeaders.append("Content-Type", "application/json");
      myInit = {
        method: "POST",
        body: `${JSON.stringify(userInfos)}`,
        headers: myHeaders,
      };
      postRequest = new Request(ALLOWED_HOST + "/api/user/create/", myInit);
      console.log(myInit.body, body);
      fetch(postRequest)
        .then((response) => {
          if (response.status == 201) {
            return response.json();
          } else {
            throw new Error("Something wrong ");
          }
        })
        .then((response) => {
          console.debug(response);
        })
        .catch((error) => {
          console.log(error);
        });
    });
  </script>
  {% endblock %}
</html>
