<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  {% block content %}
  <body>
    <h5 style="color: red">Ingredients</h5>
    <form method="POST">
      {% csrf_token %}
      <input type="text" name="ingredient Name" value="" id="ingredientName" />
      <input type="button" id="button" name="button" />
    </form>
  </body>
  <script>
    let postRequest,
      getRequest,
      zheaders,
      myInit,
      Token,
      ingredientName,
      button;
    const ALLOWED_HOST = "https://whispering-dawn-70876.herokuapp.com";

    myHeaders = new Headers();
    myHeaders.append("Content-Type", "application/json");
    myHeaders.append("Authorization", "Token {{request.session.token}}");
    myInit = {
      method: "GET",
      headers: myHeaders,
    };
    getRequest = new Request(ALLOWED_HOST + "/api/recipe/ingredients/", myInit);

    fetch(getRequest)
      .then((response) => {
        if (response.status == 200) {
          return response.json();
        } else {
          console.table(response);
          throw new Error("Something happened");
        }
      })
      .then((response) => {
        console.table(response);
        console.debug(response);
      })
      .catch((error) => {
        console.log(error);
      });

    button = document.getElementById("button");

    button.addEventListener("click", (event) => {
      ingredientName = document.getElementById("ingredientName");
      zheaders = new Headers();
      token = "{{ request.session.token }}";
      zheaders.append("Content-Type", "application/json");
      zheaders.append("Authorization", `Token ${token}`);
      ingredient = {
        name: ingredientName.value,
      };
      myInit = {
        method: "POST",
        headers: zheaders,
        body: JSON.stringify(ingredient),
      };
      postRequest = new Request(
        ALLOWED_HOST + "/api/recipe/ingredients/",
        myInit
      );
      fetch(postRequest)
        .then((response) => {
          if (response.status == 200) {
            return response.json();
          } else {
            console.table(response);
            console.log(ingredientName);
            throw new Error(`Somehting wrong ${response.status}`);
          }
        })
        .then((response) => {
          console.table(response);
          console.debug(response);
        })
        .catch((error) => {
          console.log(error);
        });
    });
  </script>
  {% endblock %}
</html>
