<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  {% block content %}
  <body>
    <form method="POST">
      {% csrf_token %}
      <input type="text" name="Title" id="Title" value="" />
      <input type="number" id="Time" name="Time" value="" />
      <input type="number" id="Price" name="price" value="" />
      <input
        type="text"
        id="ingredient"
        name="ingredient"
        value=""
        class="search"
      />
      <input
        type="text"
        id="category"
        name="category"
        value=""
        class="search"
      />
      <input type="url" id="link" name="link" value="" />
      <button id="button">enter</button>
    </form>
    <div id="values"></div>
    <div id="valuestags"></div>
  </body>
  <style>
    .tags-input-wrapper {
      background: transparent;
      padding: 10px;
      border-radius: 4px;
      max-width: 400px;
      border: 1px solid #ccc;
    }
    .tags-input-wrapper input {
      border: none;
      background: transparent;
      outline: none;
      width: 150px;
    }
    .tags-input-wrapper .tag {
      display: inline-block;
      background-color: #fa0e7e;
      color: white;
      font-size: 14px;
      border-radius: 40px;
      padding: 0px 3px 0px 7px;
      margin-right: 5px;
      margin-bottom: 7px;
      box-shadow: 0 5px 15px -2px rgba(250, 14, 126, 0.7);
    }
    .tags-input-wrapper .tag a {
      margin: 0 7px 3px;
      display: inline-block;
      cursor: pointer;
    }
  </style>
  <script>
    //https://www.cssscript.com/minimal-tags-input/
    (function (factory) {
      if (typeof module == "object" && typeof module.exports == "object")
        module.exports = factory();
      else if (typeof window == "object") window.TagsInput = factory();
      else
        console.error(
          "To use this library you need to either use browser or node.js [require()]"
        );
    })(function () {
      "use strict";

      // Plugin Constructor
      var TagsInput = function (opts) {
        this.options = Object.assign(TagsInput.defaults, opts);
        this.init();
      };

      // Initialize the plugin
      TagsInput.prototype.init = function (opts) {
        this.options = opts ? Object.assign(this.options, opts) : this.options;

        if (this.initialized) this.destroy();

        if (
          !(this.orignal_input = document.getElementById(this.options.selector))
        ) {
          console.error(
            "tags-input couldn't find an element with the specified ID"
          );
          return this;
        }

        this.arr = [];
        this.wrapper = document.createElement("div");
        this.input = document.createElement("input");
        this.input.setAttribute("value", "");
        this.input.setAttribute("id", this.options.selector);
        init(this);
        initEvents(this);

        this.initialized = true;
        return this;
      };

      // Add Tags
      TagsInput.prototype.addTag = function (string) {
        if (this.anyErrors(string)) return;

        this.arr.push(string);
        var tagInput = this;

        var tag = document.createElement("span");
        tag.className = this.options.tagClass;
        tag.innerText = string;

        var closeIcon = document.createElement("a");
        closeIcon.innerHTML = "&times;";

        // delete the tag when icon is clicked
        closeIcon.addEventListener("click", function (e) {
          e.preventDefault();
          var tag = this.parentNode;

          for (var i = 0; i < tagInput.wrapper.childNodes.length; i++) {
            if (tagInput.wrapper.childNodes[i] == tag)
              tagInput.deleteTag(tag, i);
          }
        });

        tag.appendChild(closeIcon);
        this.wrapper.insertBefore(tag, this.input);
        this.orignal_input.value = this.arr.join(",");

        return this;
      };

      // Delete Tags
      TagsInput.prototype.deleteTag = function (tag, i) {
        tag.remove();
        this.arr.splice(i, 1);
        this.orignal_input.value = this.arr.join(",");
        return this;
      };

      // Make sure input string have no error with the plugin
      TagsInput.prototype.anyErrors = function (string) {
        if (this.options.max != null && this.arr.length >= this.options.max) {
          console.log("max tags limit reached");
          return true;
        }

        if (!this.options.duplicate && this.arr.indexOf(string) != -1) {
          console.log('duplicate found " ' + string + ' " ');
          return true;
        }

        return false;
      };

      // Add tags programmatically
      TagsInput.prototype.addData = function (array) {
        var plugin = this;

        array.forEach(function (string) {
          plugin.addTag(string);
        });
        return this;
      };

      // Get the Input String
      TagsInput.prototype.getInputString = function () {
        return this.arr.join(",");
      };

      // destroy the plugin
      TagsInput.prototype.destroy = function () {
        this.orignal_input.removeAttribute("hidden");

        delete this.orignal_input;
        var self = this;

        Object.keys(this).forEach(function (key) {
          if (self[key] instanceof HTMLElement) self[key].remove();

          if (key != "options") delete self[key];
        });

        this.initialized = false;
      };

      // Private function to initialize the tag input plugin
      function init(tags) {
        tags.wrapper.append(tags.input);
        tags.wrapper.classList.add(tags.options.wrapperClass);
        tags.wrapper.classList.add(tags.options.selector);
        tags.wrapper.setAttribute("name", "wrapperDiv");
        tags.orignal_input.setAttribute("hidden", "true");
        tags.orignal_input.parentNode.insertBefore(
          tags.wrapper,
          tags.orignal_input
        );
      }

      // initialize the Events
      function initEvents(tags) {
        tags.wrapper.addEventListener("click", function () {
          tags.input.focus();
        });

        tags.input.addEventListener("keydown", function (e) {
          var str = tags.input.value.trim();

          if (!!~[9, 13, 188].indexOf(e.keyCode)) {
            e.preventDefault();
            tags.input.value = "";
            if (str != "") tags.addTag(str);
          }
        });
      }

      // Set All the Default Values
      TagsInput.defaults = {
        selector: "",
        wrapperClass: "tags-input-wrapper",
        tagClass: "tag",
        max: null,
        duplicate: false,
      };

      return TagsInput;
    });

    const instance = new TagsInput({
      selector: "ingredient",
      max: 10,
      duplicate: false,
    });

    const TagInstance = new TagsInput({
      selector: "category",
      max: 10,
      duplicate: false,
    });
  </script>
  <script>
    //https://stackoverflow.com/questions/9713058/send-post-data-using-xmlhttprequest

    button = document.getElementById("button");
    let data;
    const inputIngredient = document.getElementById("ingredient");
    const inputTag = document.getElementById("category");
    const ALLOWED_HOST = "https://whispering-dawn-70876.herokuapp.com";
    data = new FormData();

    const getElValue = (id) => {
      let value;
      value = document.getElementById(id).value;
      return value;
    };

    const getInnerSpan = (className) => {
      // className : classNam of the wrapper div
      let listSpan;
      const newList = [];
      element = document.getElementsByClassName(className)[0];
      listSpan = element.querySelectorAll("span");
      listSpan.forEach((el) => {
        content = el.innerText;
        finalContent = content.substring(0, content.length - 1);
        newList.push(finalContent);
      });
      return newList;
    };

    const getIngredientsData = async () => {
      // fetch the at the ingredients endpoint 'GET'
      let myInit, myHeaders;

      myHeaders = new Headers();
      myHeaders.append("Content-Type", "application/json");
      myHeaders.append(
        "Authorization",
        "Token " + "{{ request.session.token }}"
      );
      myInit = {
        method: "GET",
        headers: myHeaders,
      };
      const request = await fetch(
        ALLOWED_HOST + "/api/recipe/ingredients/",
        myInit
      );
      const data = await request.json();
      return data;
    };

    const getTagsData = async () => {
      // fetch the at the ingredients endpoint 'GET'
      let myInit, myHeaders;

      myHeaders = new Headers();
      myHeaders.append("Content-Type", "application/json");
      myHeaders.append(
        "Authorization",
        "Token " + "{{ request.session.token }}"
      );
      myInit = {
        method: "GET",
        headers: myHeaders,
      };
      const request = await fetch(ALLOWED_HOST + "/api/recipe/tags/", myInit);
      const data = await request.json();
      return data;
    };

    const ingredientsNameList = (ingredients) => {
      let name;
      const ingredientsName = [];

      ingredients.forEach((ingredient) => {
        name = ingredient.name;
        ingredientsName.push(name.toLowerCase());
      });

      return ingredientsName;
    };
    const filteringIngredientName = (ingredientsName) => {
      let index;
      const filteredArray = [];
      index = 0;
      while (index < ingredientsName.length) {
        if (
          ingredientsName[index].startsWith(inputIngredient.value.toLowerCase())
        ) {
          filteredArray.push(ingredientsName[index]);
        }
        index++;
      }
      return filteredArray;
    };
    async function displayIngredients(e) {
      let ingredientsNames;
      const ingredients = await getIngredientsData();
      let values;
      values = document.getElementById("values");
      ingredientsNames = ingredientsNameList(ingredients);
      ingredientFiltered = filteringIngredientName(ingredientsNames);
      values.innerText = ingredientFiltered;
      console.log(e);
    }

    const tagsNameList = (tags) => {
      let name;
      const tagsName = [];

      tags.forEach((tag) => {
        name = tag.name;
        tagsName.push(name.toLowerCase());
      });

      return tagsName;
    };

    const filteringTagName = (tagsName) => {
      let index;
      const filteredArray = [];
      index = 0;
      while (index < tagsName.length) {
        if (tagsName[index].startsWith(inputTag.value.toLowerCase())) {
          filteredArray.push(tagsName[index]);
        }
        index++;
      }
      return filteredArray;
    };
    async function displayTags(e) {
      let tagsNames;
      const tags = await getTagsData();
      let values;
      values = document.getElementById("valuestags");
      tagsNames = tagsNameList(tags);
      tagsFiltered = filteringTagName(tagsNames);
      values.innerText = tagsFiltered;
      console.log(e);
    }

    button.addEventListener("click", (event) => {
      data.append("Title", getElValue("Title"));
      data.append("Time", getElValue("Time"));
      data.append("Price", getElValue("Price"));
      data.append("ingredient", getInnerSpan("ingredient"));
      data.append("category", getInnerSpan("category"));
      data.append("link", getElValue("link"));
    });

    inputIngredient.addEventListener("input", displayIngredients);
    inputTag.addEventListener("input", displayTags);
  </script>
  {% endblock %}
</html>
