<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  {% block content %}
  <body>
    <form method="POST">
      {% csrf_token %}
      <input type="text" name="Tag" value="" id="tagName" />
      <input type="button" id="button" name="button" />
    </form>
  </body>
  <script>
    let getRequest, myHeaders, myinitget;
    const ALLOWED_HOST = "https://whispering-dawn-70876.herokuapp.com";
    myHeaders = new Headers();
    myHeaders.append("Content-Type", "application/json");
    myHeaders.append("Authorization", "Token {{request.session.token}}");
    myInitget = {
      method: "GET",
      headers: myHeaders,
    };
    getRequest = new Request(ALLOWED_HOST + "/api/recipe/tags/", myInitget);

    fetch(getRequest)
      .then((response) => {
        if (response.status == 200) {
          return response.json();
        } else {
          console.table(response);
          throw new Error("Something happened");
        }
      })
      .then((response) => {
        console.table(response);
        console.debug(response);
      })
      .catch((error) => {
        console.log(error);
      });

    let postRequest, zheaders, myInit, Token, tagName, button;

    button = document.getElementById("button");

    button.addEventListener("click", (event) => {
      tagName = document.getElementById("tagName");
      zheaders = new Headers();
      token = "{{ request.session.token }}";
      zheaders.append("Content-Type", "application/json");
      zheaders.append("Authorization", `Token ${token}`);
      tag = {
        name: tagName.value,
      };
      myInit = {
        method: "POST",
        headers: zheaders,
        body: JSON.stringify(tag),
      };
      postRequest = new Request(ALLOWED_HOST + "/api/recipe/tags/", myInit);
      fetch(postRequest)
        .then((response) => {
          if (response.status == 200) {
            return response.json();
          } else {
            console.table(response);
            console.log(tagName);
            throw new Error(`Somehting wrong ${response.status}`);
          }
        })
        .then((response) => {
          console.table(response);
          console.debug(response);
        })
        .catch((error) => {
          console.log(error);
        });
    });
  </script>
  {% endblock %}
</html>
